<extend name="Activity/base"/>

<block name="style">
    <link href="__PUBLIC__/Activity/css/promote.css" rel="stylesheet" type="text/css">
</block>

<block name="body">

    <header>
        <a id="go-back" target="_self" title="58工长通">
            <i class="iconfont icon-goback"></i>
        </a>
        <h1 class="header-title">我的推荐</h1>
    </header>

    <section class="promote">
        <ul class="promote_cont" id="user-promote">
            <script type="text/template" id="user-promote-template">
                <% for(var i=0; i<user_promote.length; i++){ %>
                <% var item = user_promote[i] %>
                <li class="promote_list clearfix">
                    <a href="/gzt/index/detail.html?orderid=<%= item.orderid %>" class="clearfix">
                        <div class="fl prom_name">
                            <p class="color_333"><%= item.title %>
                                <% if(item.area){ %>
                                <%= item.area %>㎡
                                <% } %>
                            </p>
                            <p class="color_999"><%= item.address %></p>
                        </div>
                        <div class="prom_status fr"><%= item.status_reason %></div>
                    </a>
                </li>
                <% } %>
            </script>
        </ul>
    </section>

</block>

<block name="script">
    <script type="text/javascript" src="__PUBLIC__/Activity/js/promote.js"></script>
</block>