<extend name="Activity/base"/>

<block name="style">
    <link href="__PUBLIC__/Activity/css/selectcard.css" rel="stylesheet" type="text/css">
</block>

<block name="body">

    <header>
        <a id="go-back" target="_self" title="58工长通">
            <i class="iconfont icon-goback"></i>
        </a>
        <h1 class="header-title">
			选择银行卡
        </h1>
    </header>

	<div id="container">
        <script type="text/template" id="each_template">
            <% for(var i=0; i<cardInfo.length; i++){ %>
            <% var item = cardInfo[i] %>
            <section class="bg_fff">
                <div class="cardWrap">

                    <a href="/index/distill.html?bid=<%=item.id%>" class="cardMod fix">
                        <p class="tit">
                            <span class="name"><%=item.name%></span>
                            <cite class="icon"><img src="" width="36" height="36"></cite>
                            <span><%=item.bank_name%></span>
                        </p>
                        <% var cardValue = "" %>
                        <% var tempStr = item.bank_number %>
                        <% for( var j=0; j<tempStr.length; j+=4){%>
                        <% cardValue += tempStr.substring(j,j+4) + " " %>
                        <% } %>
                        <p class="cardNum"><%=cardValue%></p>
                    </a>
                </div>
                <p class="bt_bg"></p>
            </section>
            <%}%>
        </script>
    </div>

	<section class="bg_fff">
		<div class="addCard">
			<div class="dashedBold">
				<p class="tit"><cite class="icon"></cite>新增收款银行卡</p>
				<p class="desc">最多可保存3张银行卡</p>
			</div>
		</div>
	</section>
</block>
<block name="script">
    <script type="text/javascript" src="__PUBLIC__/Activity/js/selectcard.js"></script>
</block>