<extend name="Activity/base"/>
<block name="style">
    <style>
        .service_tel {
            width: 6rem;
            height: 1rem;
            background: rgba(0,0,0,0);
            position: absolute;
            left: 50%;
            margin-left: -3rem;
            top: 10rem;
        }
    </style>
</block>
<block name="body">

    <header>
        <a id="go-back" target="_self" title="58工长通">
            <i class="iconfont icon-goback"></i>
        </a>
        <h1 class="header-title">联系客服</h1>
    </header>
    <section class="rule">
        <img src="__PUBLIC__/Activity/img/service.jpg">
        <a class="service_tel" href="tel:400-6171-666"></a>
    </section>

</block>