@charset "utf-8";
/* wushi 2017-03-08 edit*/
/* reset */
.fix{*zoom: 1;}
.fix:after{content: "";visibility: hidden;display: block;height: 0;clear: both;}
.clear{ clear:both; height:1px; overflow:hidden;}
/* layout */
.col-center,.col-left,.col-right,.fl,.fr{float:left;display:inline}
.col-right,.fr{float:right; display:inline;}
/* 模块化 */
.mod{position:relative;background:#fff}
.bd,.hd{clear:both; overflow-x: hidden;}
.no{display:none!important}
.yes{display:block!important}
/**/
body{ background:#fff; font-family:"Microsoft YaHei";}
.tMarA{ margin-top:0.2rem;}
section{ padding:0 0.5rem; text-align:center;}
.item{ border-bottom:solid 1px #e3e3e3; height:1.14rem; font:0.3rem "Microsoft YaHei";}
.item label{ color:#999; float:left; margin-top:0.41rem; margin-right:0.27rem;}
.item input[type="text"]{ color:#333; border:none; float:left; margin-top:0.44rem; outline:none; width:2.2rem; font:0.3rem/0.36rem "Microsoft YaHei"; height:0.36rem;}
.item input[type="password"] {
    color: #333;
    border: none;
    float: left;
    margin-top: 0.44rem;
    outline: none;
    width: 2.2rem;
    font: 0.3rem/0.36rem "Microsoft YaHei";
    height: 0.36rem;
}
.item input[type="text"].invite{ width:1rem; color:#47a2ff;}
.msgBtn{ float:right; color:#ffa41f; font:0.3rem/0.7rem "Microsoft YaHei"; height:0.7rem; border:solid 1px #ffa41f; -moz-border-radius:0.1rem; -webkit-border-radius:0.1rem; -khtml-border-radius:0.1rem; border-radius:0.1rem; padding:0 0.1rem; margin-top:0.2rem;}
.info{ float:right; color:#b4b4b4; font-size:0.24rem; width:4rem; text-align:right; margin-top:0.43rem;}
.btn{ height:0.94rem; color:#fff; -moz-border-radius:0.1rem; -webkit-border-radius:0.1rem; -khtml-border-radius:0.1rem; border-radius:0.1rem; font-size:0.36rem; background:#ffa41f; width:100%; border:none; display:block;  margin-top:0.5rem; outline:none; -webkit-appearance:none; cursor: pointer}
.go{ font-size:0.3rem; color:#47a2ff; margin:0 auto; display:block; margin-top:0.35rem;}
.notice{ margin-top:3.3rem;}
.notice dt{font-size:0.24rem; color:#999;}
.notice dd{font-size:0.3rem; color:#47a2ff; margin-top:0.15rem;}
.notice dd a{color:#47a2ff;}
.time{ display:none;}
.time i{ font-style:inherit;}
.alertDiv{ width:3.9rem; height:1.9rem; position:fixed; left:50%; top:50%; margin:-0.95rem 0 0 -1.95rem; color:#fff; font-size:0.36rem; text-align:center; opacity:0; z-index:-99;}
.alertDiv .bg{ width:3.9rem; height:1.9rem; position:absolute; left:0; top:0; background:#000; opacity:0.7; border-radius:0.1rem;}
.alertDiv .img{ height:0.36rem; width:0.36rem; background:red; display:inline-block; margin-top:0.5rem;}
.fail .img{ background:url(../img/failIcon.png) no-repeat; background-size:contain;}
.success .img{ background:url(../img/successIcon.png) no-repeat; background-size:contain;}
.alertDiv .img,.alertDiv .desc{ position:relative; z-index:999;}
.on{ opacity:1; z-index:99;}
.opa7{ opacity:0.4;}